---
import Default from '@astrojs/starlight/components/MarkdownContent.astro';
---

<Default>
  <p class="disclaimer-box">Disclaimer: This content is for example purposes only, created during the G20 DRR Hackathon by Team MapleByte. A full disclaimer is provided in the footer.</p>	
    <slot />
</Default>