---
import Default from '@astrojs/starlight/components/Footer.astro';
// Forward all props
const { ...props } = Astro.props;
---
<Default {...props} />

<footer>
     <slot />
    <p>This website was produced for the G20 Disaster Risk Reduction (DRR) Hackathon by Team MapleByte, representing Canada. You can learn more about our hackathon participation and <a target="_blank" href="https://g20hack-maplebyte.climatechange.ca" title="Team MapleByte">results</a>, as well as access the source code on <a target="_blank" href="https://github.com/NickKellett/hackathon-g20-drr" title="GitHub">GitHub</a>. It is licensed under <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/" title="CC BY-SA 4 Website">Creative Commons Attribution-ShareAlike 4.0 International</a> (CC-BY-SA 4.0).</p>
    <br /> 
    <p>Disclaimer: This website is provided for informational purposes only. The information stated herein has, to the best of our knowledge, been collected and verified as much as possible on a best effort basis, within the time constraints of a multi-day hackathon. Team MapleByte and its contributors are volunteers and cannot make any guarantees of any kind, as to the completeness, accuracy, suitability, or reliability of any data, maps, content or links provided in this website or the GitHub repository or micro-sites it references. This information has been prepared for general guidance on matters of interest only and as a reflection of our hackathon activities and does not constitute professional advice. You should not act upon the information without obtaining specific professional advice. No representation or warranty (express or implied) is given as to the accuracy or completeness of the information contained or linked to from here, and we do not accept or assume any liability, responsibility, or duty of care for any consequences to you or anyone else acting, or refraining to act, in reliance on the information contained herein or for any decision based upon it.</p>	
</footer>
